.App {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

/*.App > div {*/
/*  margin-right: 50px;*/
/*}*/

ul {
  list-style: none;
  padding-left: 0;
}

.error {
  border: 1px solid red;
}

.error-message {
  color: red;
}


.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.4;
}